* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Section **************************************************************** */
.upper-nav {
    background-color: steelblue;
    height: 5vh;
    width: 100%;
}
.upper-nav-inner {
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.upper-nav h5 {
    color: white;
    font-family: 'Goldman' , sans-serif;
}
.upper-nav #phone-icon,
.upper-nav #email-icon {
    margin-right: 8px;
}
#phone {
    margin-left: 100px;
}
#email {
    margin-right: 100px;
}
#phone:hover,
#email:hover {
    cursor: pointer;
}

@media only screen and (max-width: 757px) {
    .upper-nav {
        display: none;
    }
}

/* Nav Bar */
.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-between;
}
.logo {
    height: 100%;
    width: 350px;
    margin-left: 25px;
}
.logo:hover {
    cursor: pointer;
}
.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-ul li {
    list-style: none;
}
.nav-ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    font-family: 'Goldman' , sans-serif;
    display: inline-block;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: steelblue;
    transition: width .3s;
}
.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}
.cool-link:hover{
    color: steelblue;
    transition: color 0.3s;
}
.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus {
    outline: none;
}

/* Media Query when screen size is LESS than 767px */
@media screen and (max-width: 767px) {
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .nav-ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }
    .logo {
        width: 250px;
        margin: 0;
    }
}
@media only screen and (max-width: 850px) {
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .nav-ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }
    .logo {
        width: 250px;
    }
}
/* END of Nav Bar */

/* Banner + Hero Image ********************************************************* */
.hero-container {
    width: 100%;
}
.img-container {
    background-image: url("../photos/lambo.png");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.inner-container {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 100px;
}
.inner-container h1 {
    font-size: 5em;
    font-family: 'Goldman' , sans-serif;
    color: white;
}
.inner-container a {
    margin-top: 20px;
    font-size: 1.0em;
    font-family: 'Goldman' , sans-serif;
}
.inner-container .btn {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 4pm solid white;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    background-color: white;
}
.inner-container .btn:hover, .inner-container .btn:active {
    background-color: steelblue;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
@media only screen and (max-width: 960px){
    .inner-container {
        margin-top: 100px;
        background-size: cover;
    }
}
@media only screen and (max-width: 757px) {
    .img-container {
        margin-top: 25%;
        height: 80vh;
        background-size: cover;
    }
    .inner-container {
        padding: 8px;
    }
    .inner-container h1 {
        font-size: 2em;
    }
    .inner-container h2 {
        font-size: 1em;
    }
    .inner-container .btn {
        font-size: 1rem;
    }
}
/* Banner + Hero Image ********************************************************* */

/* About Section ****************************************************************/
.about-container {
    width: 100%;
    background: url('../photos/mainpic.jpg');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.85;
    margin-bottom: 80px;
}
.about-container-inner {
    max-width: 600px;
    position: absolute;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}
.about-container-inner h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 10px;
    border-bottom: 1px solid white;
    width: 250px;
    text-align: center;
    font-family: 'Goldman' , sans-serif;
}
.about-container-inner p {
    margin: 10px;
    font-size: 1.25rem;
    font-family: 'Goldman' , sans-serif;
}

@media only screen and (max-width: 757px) {
    .about-container-inner h1 {
        font-size: 2rem;
    }
    .about-container p {
        font-size: 1.0rem;
    }
}


/* END of About Section *************************************************************** */

/* Service Section ******************************************************  */
.service-container {
    width: 100%;
    background-color: black;
}
.service-inner-container {
    max-width: 1200px;
    margin: 0 auto;
}
.service-header h2 {
    font-family: 'Goldman' , sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
}
.service-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-card {
    position: relative;
    margin: 25px 0;
    width: 320px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 0 steelblue;
}


.service-card img {
    width: 100%;
    height: 50%;
}
.service-card h3 {
    text-align: center;
    font-size: 1.5rem;
    color: steelblue;
    font-family: 'Goldman' , sans-serif;
}
.service-card p {
    color: white;
    color: black;
    padding: 15px;
    font-family: 'Goldman' , sans-serif;
    font-size: 0.95rem;
    text-align: center;
}
.service-card a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    background-color: steelblue;
    color: white;
    text-decoration: none;
    font-family: 'Goldman' , sans-serif;
    display: block;
    text-align: center; 
    margin: 10px auto;
    padding: 10px 25px;
    border: none;
}
.service-card a:hover, .service-card a:active {
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width: 1035px) {
    .service-card-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 767px) {
    .service-card-container {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    .service-card {
        width: 200px;
        height: 300px;
        margin: 25px;
    }
    .service-card h3 {
        font-size: 1.0rem;
    }
    .service-card p {
        font-size: 0.25rem;
    }
    .service-card a {
        font-size: 0.5rem;
    }
    .service-header h2 {
        font-size: 2rem;
    }
}
/* END Of Service Section ******************************************************  */



/* Footer Section************************************************************* */
.footer {
    background-color: white;
    width: 100%;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.location-container, .hours-container, .contact-container {
    padding: 10px;
    margin: 25px 0;
    width: 320px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 #000;
}
.location-container h3 {
    text-align: center;
    font-family: 'Goldman' , sans-serif;
    color: steelblue;
    font-size: 2rem;
}
.location-container img {
    width: 100%;
}
.location-container p {
    font-family: 'Goldman' , sans-serif;
    margin-top: 10px;
}
.hours-container h3 {
    font-family: 'Goldman' , sans-serif;
    color: steelblue;
    font-size: 2rem;
    text-align: center;
}
.days, .hours {
    width: 50%;
}
.days p, .hours p {
    font-family: 'Goldman' , sans-serif;
    margin-top: 15px;
    font-size: 1.25rem;
}
.days {
    float: left;
}
.hours {
    float: right;
}
.hours p {
    text-align: right;
}
.contact-form h3 {
    font-family: 'Goldman' , sans-serif;
    color: steelblue;
    font-size: 2rem;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
}
#input {
    height: 45px;
    width: 75%;
    margin: 10px auto;
    background-color: white;
    color: black;
    font-family: 'Goldman' , sans-serif;
    padding: 10px;
    border: 1px solid black;
}
.input {
    height: 45px;
    width: 75%;
    margin: 10px auto;
    background-color: white;
    color: black;
    font-family: 'Goldman' , sans-serif;
    padding: 10px;
    border: 1px solid black;
}
#textarea {
    height: 90px;
    width: 75%;
    margin: 10px auto;
    color: steelblue;
    font-family: 'Goldman' , sans-serif;
    padding: 10px;
}
#submitBtn {
    padding: 10px 25px;
    width: 75%;
    margin: 10px auto;
    background-color: steelblue;
    color: white;
    border: none;
    font-family: 'Goldman' , sans-serif;
}
#submitBtn:hover, #submitBtn:active {
    color: white;
    transition: 0.3s color ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* END Footer Section************************************************************* */